@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

.bg-car{
    background-image: url('./assets/Images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.w-1k{
    width: 760px;
}

.w-car{
    width: 1008px;
}

.max-width420{
    max-width: 420px;
}

.left-14rem{
    position: relative;
    left: 15.5rem;
}


::-webkit-scrollbar {
    width: 12px; 
  }
  

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #1572D3; 
    border-radius: 6px; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #13549B; 
  }
  